// Global scss variables
:root{
    --active_tab_width:125px;
    --transform-bar:translateX(0px);
}
$primary_color:#3f73ff;
$icon_color:#3f73ff;
$secondary_color:rgb(209, 209, 209);
$white :#fff;


input[type="radio"]:checked + span{
    display: none;
}

// global css classes
.flex-direction-col{
    flex-direction: column;
}
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}
.j-space-bet{
    justify-content: space-between;
}
.j-content-center{
    justify-content: center;
}
.a-items-center{
    align-items: center;
}
.white_ic { 
    fill: #ffffff; 
} 
.blue_ic { 
    fill: #5a87ff; 
} 
.m-none{
    margin: 0px;
}
.p-l-none{
    padding-left: 0px;
}
.p-r-none{
    padding-right: 0px;
}

//temp nav fix need to remove when integrate it
.nav-fixed-custom{
    padding: 15px 0;
    background-color:$white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(197, 199, 224,.2);
    a:not(.free-try){
        color:#6F8BA4!important;
    }
}
.form-wrap{
    margin:60px 0px;
}
.formcolwrap{
    width: 100%;
    height: 2259px;
    border-radius: 40px;
    background-color: $white;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .header{
        width: 100%;
        min-height: 120px;
        padding: 25px 25px 15px;
        background-color: $primary_color;
        .input-wrap{
            width: 242px;
        }
        .input-element{
            color: $white;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
                input{
                    font-size: 16px;
                }
            }
            input{
                color: #ffffff;
            }
            &:after{
                background:#6b90f2;
            }
            &:active,
            &:focus-within{
                &:before{
                    background: $white;
                }
            }
            .ic{
                background: transparent;
            }
        }
        .text{
            font-size: 3.25rem;
            color:$white;
            letter-spacing: 6px;
            line-height: 48px;
            font-family: "Roboto";
            font-weight: 300;
            margin: 0px;
        }
    }
    .input-element{ 
        position: relative;
        padding: 0px 0px 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
            &:before{
                content: "";
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: 2px;
                height: 2px;
                width: 0%;
                background: $white;
                z-index: 1;
            }
            &:after{
                content: "";
                position: absolute;
                left: 0%;
                right: 0%;
                bottom: 2px;
                height: 2px;
                width: 100%;
                background: #dadfe8;
                z-index: 0;
            }
            input,select{
                box-shadow: none;
                background-color: transparent;
                border-radius: 0px;
                font-size: 16px;
                line-height: 30px;
                padding: 0px;
                color: #a8a8a8;
                font-family: "Roboto";
                height: 30px;
                &::placeholder{
                    color: #a8a8a8;
                }
            }
            select{
                width: 100%;
                border: 0px;
                padding-right: 35px;
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                transition: all .5s ease;
                &:focus{
                    padding-left:5px; 
                    outline: 0px;                    
                    border:1px solid  #390094;
                    border-bottom: 0px;
                }
            }
            select + .ic{
                background: transparent;
            }
            .ic{
                position: absolute;
                top:0px;
                bottom: 0px;
                margin: auto;
                right:0px;
                padding-right: 10px;
                max-height: max-content;
                display: inline-block;
                background: #fff;
            }
    }
    .input-element:active:before,
    .input-element:focus-within:before{
        right: 0px;
        left:0px;
        width: 100%;
        transition: all .5s ease;
        background: #390094;
        // z-index: 0;
    }
    .input-element:active:after,
    .input-element:focus-within:after{
        right: 50%;
        left:50%;
        width: 0%;
        transition: all 1.5s ease;
        // z-index: 1;
    }
}
.section-title{
    font-size: 15px;
    line-height: 24px;
    color: #bfc5d1;
    font-family: "Roboto";
    font-weight: 500;
    margin-bottom: 30px;
}
.form-content{
    padding: 50px 20px;
    .top-content-wrap{
        margin-bottom:60px;
        .left-col{
            width: 68%;
            padding-right: 30px;
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 30px;
            .input-element{
                margin-bottom: 25px;
                &:nth-last-child(-n+2){
                    margin-bottom: 0px;
                }
            }
        }
        .right-col{
            cursor: pointer;
            width: 32%;
            max-width: 242px;
            border-radius: 25px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
            box-shadow: 0px 0px 20px 0px rgba(197, 199, 224,.3);
            padding: 15px;            
            .logo-instructions{
                .upload-text{
                    margin: 0px 0px 0px 10px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #b4b4b4;
                    user-select: none;
                }
                .instructions{
                    li{
                        font-size: 10px;
                        line-height: 16px;
                        user-select: none;
                        color: #d0d0d0;
                        padding-left:10px;
                        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 9' width='6' height='9'><style>tspan { white-space:pre }.shp0 { fill: #dadfe8 } </style><g id='Date'><g id='Add Logo'><path id='Shape 1' class='shp0' d='M5.28,4.44l-3.58,-3.63c-0.08,-0.08 -0.19,-0.13 -0.31,-0.13c-0.12,0 -0.23,0.05 -0.31,0.13l-0.26,0.27c-0.17,0.17 -0.17,0.46 0,0.63l3.01,3.05l-3,3.06c-0.08,0.08 -0.13,0.2 -0.13,0.32c0,0.12 0.05,0.23 0.13,0.32l0.26,0.27c0.08,0.08 0.19,0.13 0.31,0.13c0.12,0 0.23,-0.05 0.31,-0.13l3.58,-3.64c0.08,-0.08 0.13,-0.2 0.13,-0.32c0,-0.12 -0.05,-0.23 -0.13,-0.32z'/></g></g></svg>")no-repeat left;
                    }
                }
            }
        }
    }
    // address section css starts here
    .address-section{
        .tab-navigation{
            position: relative;
            margin-bottom: 40px;
            &:before{
                content: "";
                position: absolute;
                bottom: 0px;
                width: var(--active_tab_width);
                height:3px;
                background: #3f73ff;
                left:0px;
                transition: all .5s ease;
                transform: var(--transform-bar);
            }
            .tab-item{
                font-size: 15px;
                line-height: 24px;
                color: #bfc5d1;
                font-family: "Roboto";
                text-transform: uppercase;
                font-weight: 500;
                background: transparent;
                box-shadow: none;
                border:0px!important;
                outline: 0px!important;
                transition: color .5s ease-in;
                padding:0px;
                &:not(:last-child){
                    margin-right: 30px;
                }
                &:hover{
                    color: #3f73ff;
                }
            }
            .tab-item.active{
                color: #3f73ff;
                // border-bottom: 3px solid  #3f73ff;
            }
        }
        .tab-nav-content{
            .tab{
                display: none;
            }
            .tab.active{
                display: grid;
            }
            .w-48{
                width: 48%;
            }
            .est--from{
                grid-column: 1 / 3;
                // grid-template-columns: 1fr 1fr;
                grid-gap: 20px 65px;
                .input-element:first-child{grid-column: 1 / 3!important;}
            }
            .est--from > div:last-child,
            .est--to > div:last-child,
            .ship--add > div:last-child{
                grid-column: 1 / 3!important;
                display: flex;
                justify-content: flex-end;
                margin-top:-20px;
            }
            .prev-btn{
                padding: 3px 10px 2px 5px;
                margin-right:15px;
            }
            .next-btn{
                padding: 3px 5px 2px 10px;
            }
            .action-btn{
                font-size: 15px;
                line-height: 24px;
                color: #bfc5d1;
                font-family: "Roboto";
                font-weight: 500;
                border:2px solid #bfc5d1;
                border-radius: 40px;
                display: inline-flex; 
                justify-content: space-between;
                background: transparent;
                width: 83px;
                height: 33px;
                &:hover{
                    border-color: #3f73ff;
                    color: #3f73ff;
                    svg .arrow{
                        fill: #3f73ff;
                    }
                }
            }
        }
    }
    // address section css ends here
    // taxation section css starts here
    .tax-section{
        margin-top:20px;
        .dropdown-toggle{
            padding: 10px 0px;
            width: 110px;
            background: transparent;
            font-size: 13px;
            line-height: 24px;
            color: #3f73ff;
            font-family: "Roboto";
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0px;
            outline: 0px;
            box-shadow: none;
            padding-left: 0px;
            svg{
                fill:#909b9d;
                width: 15px;
            }
        }
        .dropdown-menu{
            padding: 10px;
            min-width: 110px;
        }
        .border-bottom{
            border-bottom:2px solid #ededed;
        }
        .terms-note-section{
            font-size: 13px;
            line-height: 24px;
            color: #757575;
            font-family: "Roboto";
            font-weight: 500;
            margin-bottom: 10px;
            textarea{
                max-height: 83px;
                border-radius: 10px;
                background-color: #f6f8f7;
                resize: none;
            }
        }
        .total-count-section{
            .sub-total{
                margin-bottom: 15px;
                padding-right: 25px;
            }
            .discount{margin-bottom: 20px;padding-right:25px;}
            .discount{
                .number-text{
                    font-size: 15px;
                }
            }
            .subtot-title{
                font-size: 13px;
                line-height: 24px;
                color: #757575;
                font-family: "Roboto";
                font-weight: 500;
            }
            .number-text{
                font-size: 16px;
                line-height: 24px;
                color: #bfc5d1;
                font-family: "Roboto";
                font-weight: 500;
            }
        }
    }
    // texation section css ends here
}
.formcolwrap.customize--sidebar{
    .sidebar-content{
        padding: 50px 30px;
        .invoice-count-section{
            margin-bottom: 60px;
            h2{
                margin: 0px;
                font-size: 19px;
                line-height: 24px;
                color: #a8a8a8;
                font-family: "Roboto";
                font-weight: 400;
            }
            .count-numner{
                margin-left: 15px;
                display: grid;
                place-items: center;
                font-size: 24px;
                line-height: 24px;
                color: #ffffff;
                font-family: "Roboto";
                font-weight: 700;
                width: 49px;
                height: 34px;
                border-radius: 17px;
                background-color: #bfc5d1;
            }
        }
        .color-selection-section{
            margin-bottom: 45px;
            .color{
                h4{
                    font-size: 13px;
                    line-height: 24px;
                    color: #a8a8a8;
                    font-family: "Roboto";
                    font-weight: 400;
                    flex: 1 1 auto;
                    max-width: 50%;
                }
                .color-picker{
                    max-width: 50%;
                    flex: 1 1 auto;
                    font-size: 11px;
                    line-height: 32px;
                    color: #a5a5a5;
                    font-family: "Roboto";
                    font-weight: 500;
                    .color-selected{
                        width: 17px;
                        height: 17px;
                        margin-right: 10px;
                    }
                    .color-selected.primery--select{
                        background-color: #b3b3b3;
                    }
                    .color-selection-info{
                        justify-content: center;
                        margin-left: 10px;
                        &:hover:before,
                        &:hover .color-info-popup{
                            display: block;
                        }
                        
                        &:before{
                            z-index: 99;
                            content: '';
                            position: absolute;
                            bottom: 88%;
                            left: -1px;
                            right: 0px;
                            margin: auto;
                            width: 10px;
                            height: 10px;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-bottom: 8px solid #cccccc;
                            display: none;
                            transform: rotate(180deg);
                        }
                        .color-info-popup{
                            bottom: calc(100% + 10px);
                            margin-left: -30px;
                            width: 150px;
                            // height: 46px;
                            padding:10px;
                            border-radius: 8px;
                            box-shadow: 2px 3.464px 4px rgba(8,8,8,0.1);
                            background-color: #fafafa;
                            display: none;
                            font-size: 11px;
                            color: #3a3a3a;
                            font-family: "Roboto";
                            font-weight: 400;
                            line-height: 1.2;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .crny-date-customize{
            .combobox-wrap{
                margin-bottom: 30px;
                h4{
                    font-size: 16px;
                    line-height: 24px;
                    color: #a8a8a8;
                    font-family: "Roboto";
                    font-weight: 400;
                }
                .dropdown-toggle{
                    width: 100%;
                    height: 48px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 10px;
                    background-color: rgba(0,0,0,0);
                    border: 2px solid #f6f8f7;
                    padding-left:10px; 
                    font-size: 16px;
                    line-height: 24px;
                    color: #a8a8a8;
                    font-family: "Roboto";
                    font-weight: 400;
                    svg{
                        width: 15px;
                        height:15px;
                        fill: #909b9d!important;
                    }
                }
                .dropdown-menu{
                    padding: 0px;
                    width: 100%;
                    top:100%;
                    border-radius: 8px;
                    li{
                        padding: 5px 10px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #a8a8a8;
                        font-family: "Roboto";
                        font-weight: 400;
                        &:hover{
                            background: #3f73ff;
                            color: #fff;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
        .template-preview{
            margin-top: 55px;
            padding: 10px;
            box-shadow: 0px 0px 9.9px 0.1px rgba(0, 0, 0, 0.1);
        }
    }
}