:root {
  --active_tab_width:125px;
  --transform-bar:translateX(0px);
}

input[type="radio"]:checked + span {
  display: none;
}

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-space-bet {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_ic {
  fill: #ffffff;
}

.blue_ic {
  fill: #5a87ff;
}

.m-none {
  margin: 0px;
}

.p-l-none {
  padding-left: 0px;
}

.p-r-none {
  padding-right: 0px;
}

.nav-fixed-custom {
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
}

.nav-fixed-custom a:not(.free-try) {
  color: #6F8BA4 !important;
}

.form-wrap {
  margin: 60px 0px;
}

.formcolwrap {
  width: 100%;
  height: 2259px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.formcolwrap .header {
  width: 100%;
  min-height: 120px;
  padding: 25px 25px 15px;
  background-color: #3f73ff;
}

.formcolwrap .header .input-wrap {
  width: 242px;
}

.formcolwrap .header .input-element {
  color: #fff;
  margin-bottom: 10px;
}

.formcolwrap .header .input-element:last-child {
  margin-bottom: 0px;
}

.formcolwrap .header .input-element:last-child input {
  font-size: 16px;
}

.formcolwrap .header .input-element input {
  color: #ffffff;
}

.formcolwrap .header .input-element:after {
  background: #6b90f2;
}

.formcolwrap .header .input-element:active:before, .formcolwrap .header .input-element:focus-within:before {
  background: #fff;
}

.formcolwrap .header .input-element .ic {
  background: transparent;
}

.formcolwrap .header .text {
  font-size: 3.25rem;
  color: #fff;
  letter-spacing: 6px;
  line-height: 48px;
  font-family: "Roboto";
  font-weight: 300;
  margin: 0px;
}

.formcolwrap .input-element {
  position: relative;
  padding: 0px 0px 5px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formcolwrap .input-element:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 2px;
  height: 2px;
  width: 0%;
  background: #fff;
  z-index: 1;
}

.formcolwrap .input-element:after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 2px;
  height: 2px;
  width: 100%;
  background: #dadfe8;
  z-index: 0;
}

.formcolwrap .input-element input, .formcolwrap .input-element select {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  font-size: 16px;
  line-height: 30px;
  padding: 0px;
  color: #a8a8a8;
  font-family: "Roboto";
  height: 30px;
}

.formcolwrap .input-element input::-webkit-input-placeholder, .formcolwrap .input-element select::-webkit-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input:-ms-input-placeholder, .formcolwrap .input-element select:-ms-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input::-ms-input-placeholder, .formcolwrap .input-element select::-ms-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input::placeholder, .formcolwrap .input-element select::placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element select {
  width: 100%;
  border: 0px;
  padding-right: 35px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.formcolwrap .input-element select:focus {
  padding-left: 5px;
  outline: 0px;
  border: 1px solid  #390094;
  border-bottom: 0px;
}

.formcolwrap .input-element select + .ic {
  background: transparent;
}

.formcolwrap .input-element .ic {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  right: 0px;
  padding-right: 10px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  display: inline-block;
  background: #fff;
}

.formcolwrap .input-element:active:before,
.formcolwrap .input-element:focus-within:before {
  right: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: #390094;
}

.formcolwrap .input-element:active:after,
.formcolwrap .input-element:focus-within:after {
  right: 50%;
  left: 50%;
  width: 0%;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.section-title {
  font-size: 15px;
  line-height: 24px;
  color: #bfc5d1;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 30px;
}

.form-content {
  padding: 50px 20px;
}

.form-content .top-content-wrap {
  margin-bottom: 60px;
}

.form-content .top-content-wrap .left-col {
  width: 68%;
  padding-right: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 30px;
}

.form-content .top-content-wrap .left-col .input-element {
  margin-bottom: 25px;
}

.form-content .top-content-wrap .left-col .input-element:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.form-content .top-content-wrap .right-col {
  cursor: pointer;
  width: 32%;
  max-width: 242px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.3);
  padding: 15px;
}

.form-content .top-content-wrap .right-col .logo-instructions .upload-text {
  margin: 0px 0px 0px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-content .top-content-wrap .right-col .logo-instructions .instructions li {
  font-size: 10px;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #d0d0d0;
  padding-left: 10px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 9' width='6' height='9'><style>tspan { white-space:pre }.shp0 { fill: #dadfe8 } </style><g id='Date'><g id='Add Logo'><path id='Shape 1' class='shp0' d='M5.28,4.44l-3.58,-3.63c-0.08,-0.08 -0.19,-0.13 -0.31,-0.13c-0.12,0 -0.23,0.05 -0.31,0.13l-0.26,0.27c-0.17,0.17 -0.17,0.46 0,0.63l3.01,3.05l-3,3.06c-0.08,0.08 -0.13,0.2 -0.13,0.32c0,0.12 0.05,0.23 0.13,0.32l0.26,0.27c0.08,0.08 0.19,0.13 0.31,0.13c0.12,0 0.23,-0.05 0.31,-0.13l3.58,-3.64c0.08,-0.08 0.13,-0.2 0.13,-0.32c0,-0.12 -0.05,-0.23 -0.13,-0.32z'/></g></g></svg>") no-repeat left;
}

.form-content .address-section .tab-navigation {
  position: relative;
  margin-bottom: 40px;
}

.form-content .address-section .tab-navigation:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: var(--active_tab_width);
  height: 3px;
  background: #3f73ff;
  left: 0px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: var(--transform-bar);
          transform: var(--transform-bar);
}

.form-content .address-section .tab-navigation .tab-item {
  font-size: 15px;
  line-height: 24px;
  color: #bfc5d1;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 500;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px !important;
  outline: 0px !important;
  -webkit-transition: color .5s ease-in;
  transition: color .5s ease-in;
  padding: 0px;
}

.form-content .address-section .tab-navigation .tab-item:not(:last-child) {
  margin-right: 30px;
}

.form-content .address-section .tab-navigation .tab-item:hover {
  color: #3f73ff;
}

.form-content .address-section .tab-navigation .tab-item.active {
  color: #3f73ff;
}

.form-content .address-section .tab-nav-content .tab {
  display: none;
}

.form-content .address-section .tab-nav-content .tab.active {
  display: -ms-grid;
  display: grid;
}

.form-content .address-section .tab-nav-content .w-48 {
  width: 48%;
}

.form-content .address-section .tab-nav-content .est--from {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  grid-gap: 20px 65px;
}

.form-content .address-section .tab-nav-content .est--from .input-element:first-child {
  -ms-grid-column: 1 !important;
  -ms-grid-column-span: 2 !important;
  grid-column: 1/3 !important;
}

.form-content .address-section .tab-nav-content .est--from > div:last-child,
.form-content .address-section .tab-nav-content .est--to > div:last-child,
.form-content .address-section .tab-nav-content .ship--add > div:last-child {
  -ms-grid-column: 1 !important;
  -ms-grid-column-span: 2 !important;
  grid-column: 1/3 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -20px;
}

.form-content .address-section .tab-nav-content .prev-btn {
  padding: 3px 10px 2px 5px;
  margin-right: 15px;
}

.form-content .address-section .tab-nav-content .next-btn {
  padding: 3px 5px 2px 10px;
}

.form-content .address-section .tab-nav-content .action-btn {
  font-size: 15px;
  line-height: 24px;
  color: #bfc5d1;
  font-family: "Roboto";
  font-weight: 500;
  border: 2px solid #bfc5d1;
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  width: 83px;
  height: 33px;
}

.form-content .address-section .tab-nav-content .action-btn:hover {
  border-color: #3f73ff;
  color: #3f73ff;
}

.form-content .address-section .tab-nav-content .action-btn:hover svg .arrow {
  fill: #3f73ff;
}

.form-content .tax-section {
  margin-top: 20px;
}

.form-content .tax-section .dropdown-toggle {
  padding: 10px 0px;
  width: 110px;
  background: transparent;
  font-size: 13px;
  line-height: 24px;
  color: #3f73ff;
  font-family: "Roboto";
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  outline: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0px;
}

.form-content .tax-section .dropdown-toggle svg {
  fill: #909b9d;
  width: 15px;
}

.form-content .tax-section .dropdown-menu {
  padding: 10px;
  min-width: 110px;
}

.form-content .tax-section .border-bottom {
  border-bottom: 2px solid #ededed;
}

.form-content .tax-section .terms-note-section {
  font-size: 13px;
  line-height: 24px;
  color: #757575;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 10px;
}

.form-content .tax-section .terms-note-section textarea {
  max-height: 83px;
  border-radius: 10px;
  background-color: #f6f8f7;
  resize: none;
}

.form-content .tax-section .total-count-section .sub-total {
  margin-bottom: 15px;
  padding-right: 25px;
}

.form-content .tax-section .total-count-section .discount {
  margin-bottom: 20px;
  padding-right: 25px;
}

.form-content .tax-section .total-count-section .discount .number-text {
  font-size: 15px;
}

.form-content .tax-section .total-count-section .subtot-title {
  font-size: 13px;
  line-height: 24px;
  color: #757575;
  font-family: "Roboto";
  font-weight: 500;
}

.form-content .tax-section .total-count-section .number-text {
  font-size: 16px;
  line-height: 24px;
  color: #bfc5d1;
  font-family: "Roboto";
  font-weight: 500;
}

.formcolwrap.customize--sidebar .sidebar-content {
  padding: 50px 30px;
}

.formcolwrap.customize--sidebar .sidebar-content .invoice-count-section {
  margin-bottom: 60px;
}

.formcolwrap.customize--sidebar .sidebar-content .invoice-count-section h2 {
  margin: 0px;
  font-size: 19px;
  line-height: 24px;
  color: #a8a8a8;
  font-family: "Roboto";
  font-weight: 400;
}

.formcolwrap.customize--sidebar .sidebar-content .invoice-count-section .count-numner {
  margin-left: 15px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  width: 49px;
  height: 34px;
  border-radius: 17px;
  background-color: #bfc5d1;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section {
  margin-bottom: 45px;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color h4 {
  font-size: 13px;
  line-height: 24px;
  color: #a8a8a8;
  font-family: "Roboto";
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 50%;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker {
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 11px;
  line-height: 32px;
  color: #a5a5a5;
  font-family: "Roboto";
  font-weight: 500;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selected {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selected.primery--select {
  background-color: #b3b3b3;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selection-info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selection-info:hover:before,
.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selection-info:hover .color-info-popup {
  display: block;
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selection-info:before {
  z-index: 99;
  content: '';
  position: absolute;
  bottom: 88%;
  left: -1px;
  right: 0px;
  margin: auto;
  width: 10px;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #cccccc;
  display: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.formcolwrap.customize--sidebar .sidebar-content .color-selection-section .color .color-picker .color-selection-info .color-info-popup {
  bottom: calc(100% + 10px);
  margin-left: -30px;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3.464px 4px rgba(8, 8, 8, 0.1);
          box-shadow: 2px 3.464px 4px rgba(8, 8, 8, 0.1);
  background-color: #fafafa;
  display: none;
  font-size: 11px;
  color: #3a3a3a;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap {
  margin-bottom: 30px;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap h4 {
  font-size: 16px;
  line-height: 24px;
  color: #a8a8a8;
  font-family: "Roboto";
  font-weight: 400;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap .dropdown-toggle {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f6f8f7;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #a8a8a8;
  font-family: "Roboto";
  font-weight: 400;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap .dropdown-toggle svg {
  width: 15px;
  height: 15px;
  fill: #909b9d !important;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap .dropdown-menu {
  padding: 0px;
  width: 100%;
  top: 100%;
  border-radius: 8px;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap .dropdown-menu li {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #a8a8a8;
  font-family: "Roboto";
  font-weight: 400;
}

.formcolwrap.customize--sidebar .sidebar-content .crny-date-customize .combobox-wrap .dropdown-menu li:hover {
  background: #3f73ff;
  color: #fff;
  border-radius: 8px;
}

.formcolwrap.customize--sidebar .sidebar-content .template-preview {
  margin-top: 55px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 9.9px 0.1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9.9px 0.1px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=form_new.css.map */