.pos-relative {
  position: relative;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-space-bet {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_ic {
  fill: #ffffff;
}

.blue_ic {
  fill: #5a87ff;
}

.m-none {
  margin: 0px;
}

.p-l-none {
  padding-left: 0px;
}

.p-r-none {
  padding-right: 0px;
}

.nav-fixed-custom {
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
}

.nav-fixed-custom a:not(.free-try) {
  color: #6F8BA4 !important;
}

.form-wrap {
  margin: 60px 0px;
}

.formcolwrap {
  width: 100%;
  height: 2259px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.formcolwrap .header {
  width: 100%;
  padding: 25px 25px 15px;
  background-color: #3f73ff;
}

.formcolwrap .header .input-wrap {
  width: 242px;
}

.formcolwrap .header .input-element {
  color: #fff;
  margin-bottom: 10px;
}

.formcolwrap .header .input-element:last-child {
  margin-bottom: 0px;
}

.formcolwrap .header .input-element:last-child input {
  font-size: 16px;
}

.formcolwrap .header .input-element input {
  color: #ffffff;
}

.formcolwrap .header .input-element:after {
  background: #6b90f2;
}

.formcolwrap .header .input-element:active:before, .formcolwrap .header .input-element:focus-within:before {
  background: #fff;
}

.formcolwrap .header .text {
  font-size: 3.25rem;
  color: #fff;
  letter-spacing: 6px;
  line-height: 48px;
  font-family: "Roboto";
  font-weight: 300;
  margin: 0px;
}

.formcolwrap .input-element {
  position: relative;
  padding: 0px 0px 5px;
  margin-bottom: 15px;
}

.formcolwrap .input-element:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0px;
  height: 2px;
  width: 0%;
  background: #fff;
  z-index: 1;
}

.formcolwrap .input-element:after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background: #dadfe8;
  z-index: 0;
}

.formcolwrap .input-element input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  font-size: 16px;
  line-height: 30px;
  padding: 0px;
  color: #a8a8a8;
  font-family: "Roboto";
  height: 30px;
}

.formcolwrap .input-element input::-webkit-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input:-ms-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input::-ms-input-placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element input::placeholder {
  color: #a8a8a8;
}

.formcolwrap .input-element .ic {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  right: 10px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.formcolwrap .input-element:active:before,
.formcolwrap .input-element:focus-within:before {
  right: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: #390094;
}

.formcolwrap .input-element:active:after,
.formcolwrap .input-element:focus-within:after {
  right: 50%;
  left: 50%;
  width: 0%;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.form-content {
  padding: 50px 15px;
}

.form-content .left-col {
  width: 65%;
  padding-right: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 30px;
}

.form-content .left-col .input-element {
  margin-bottom: 25px;
}

.form-content .left-col .input-element:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.form-content .right-col {
  width: 35%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(197, 199, 224, 0.3);
  padding: 15px;
}

.form-content .right-col .upload-text {
  margin: 0px 0px 0px 15px;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
}
/*# sourceMappingURL=form_new.css.map */